@{
    ViewData["Title"] = "ViewResult Example";
}

<h2>@ViewData["Title"]</h2>
<p>@ViewBag.Message</p>

<ul>
    <li><a href="/ResultDemo/RedirectExample">RedirectResult</a></li>
    <li><a href="/ResultDemo/RedirectToHome">RedirectToActionResult</a></li>
    <li><a href="/ResultDemo/GetJson">JsonResult</a></li>
    <li><a href="/ResultDemo/DownloadFile">FileResult</a></li>
    <li><a href="/ResultDemo/CustomStatus">StatusCodeResult</a></li>
</ul>
