@{
    ViewData["Title"] = "Buổi học số 3";
}

<h1>@ViewData["Title"]</h1>

<h2>Nội dung buổi học:</h2>
<ul>
    <li>Cách tạo project .net MVC</li>
    <li>Namespace là gì, cách đặt tên</li>
    <li>Tạo Controller và View</li>
    <li>Điều hướng route trong MVC</li>
</ul>



















