@{
    ViewData["Title"] = "Demo TempData";
}

<h2>@ViewData["Title"]</h2>

<p style="color:green; font-weight:bold;">
    @ViewBag.TempMessage
</p>

<a href="/Message/Index">← Quay lại trang chính</a>
